<div class="grid">
  <div class="col-4 col-offset-4 mt-8">
    <p-card styleClass="bg-blue-500">
      <ng-template pTemplate="header">
        <h3 class="text-white pl-4 pr-4 pt-3 m-0">Forex Calculator</h3>
      </ng-template>
      <div class="formgrid grid">
        <div class="field col-6 ">
          <p-dropdown styleClass="w-full"
                      [options]="currencies"
                      [(ngModel)]="selectedSourceCurrency"
                      appendTo="body"
                      (onChange)="convert(selectedSourceCurrency, selectedTargetCurrency, fromAmount)"
          ></p-dropdown>
        </div>
        <div class="field col-6">
          <input class="w-full text-right"
                 type="text"
                 pInputText
                 [(ngModel)]="fromAmount"
                 (change)="convert(selectedSourceCurrency, selectedTargetCurrency, fromAmount)"
          />
        </div>
        <div class="field col-6">
          <p-dropdown styleClass="w-full"
                      [options]="currencies"
                      [(ngModel)]="selectedTargetCurrency"
                      appendTo="body"
                      (onChange)="convert(selectedSourceCurrency, selectedTargetCurrency, fromAmount)"
          ></p-dropdown>
        </div>
        <div class="field col-6">
          <input class="w-full text-right"
                 type="text"
                 pInputText
                 [(ngModel)]="toAmount"
                 (change)="convert(selectedTargetCurrency, selectedSourceCurrency, toAmount)"
          />
        </div>
        <div class="col-12 text-right">
          <p-tag severity="success"
                 value="1 {{selectedSourceCurrency}} = {{baseRate}} {{selectedTargetCurrency}}"></p-tag>
        </div>
      </div>
    </p-card>
  </div>
</div>


